streamlit                1.20.0
Pillow                   9.4.0
google-api-core          2.11.0
google-api-python-client 2.81.0
google-auth              2.16.1
google-auth-httplib2     0.1.0
google-auth-oauthlib     1.0.0
google-cloud-vision      3.3.1
googleapis-common-protos 1.58.0